<div class="container">
    <form #userId="ngForm" (ngSubmit)="changePassword(password)">
        <div class="form-content">
            <div fxLayout="column" fxLayoutAlign="start">
                <div class="img1">
                    <img mat-card-image src="../../../assets/google.jpg" width="80" alt="Google Image" class="logo">
                </div>

                <div class="header">
                    <h1>Reset Password</h1>
                </div>
                <div>
                    <label class="label">Use your email Account</label>
                </div>

                <div class="form-field">
                <mat-form-field appearance="outline" class="newpass">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="New Password" type="password" name="password" [(ngModel)]="password" class="form-control" required>
                </mat-form-field>

                <mat-form-field appearance="outline" style="margin-top: 10%;" class="newpass">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Confirm Password" type="password">
                    <!-- <span ng-show="myForm.email.$error.required">Email is required.</span> -->
                </mat-form-field>
                </div>
                <div fxLayout="row">
                <section class="example-section">
                    <mat-checkbox id="password" style="margin-left: -40px;">Show Password</mat-checkbox>
                </section>

                <div>
                    <button mat-button class="btn4" type="submit" value="click">Change password</button>
                </div>
                </div>
                <button mat-button color="primary" class="btn1" routerLink="/login">Sign in</button>      
            </div>
        </div>
    </form>
</div>