.img1{
    margin-top: -8%;
    margin-left: 3px;
}


.img2{
    margin-top: -8%;
    margin-left: 13px;
    cursor: pointer;
}

.img3{
    margin-top: -10%;
    margin-left: 8px;
    cursor: pointer;
}

.img4{
    margin-top: -8%;
    margin-left: 8px;
    cursor: pointer;
}

.img5{
    margin-top: -8%;
    margin-left: 16px;
    cursor: pointer;
}

.img6{
    margin-top: -12%;
    margin-left: 14px;
    cursor: pointer;
}

.delete{
    margin-top: -25px;
}

.img3{
    width: 45px;
    height: 50px;
}

.button{
    height: 28px;
    width: 20px;
    border: none;
    border-radius: 50%;
    float: right;   
    margin: 2px; 
    margin-right: 4px;
}

