<div fxLayout="row">
    <div class="img1">
       <mat-icon class="icon">add_alert</mat-icon>
    </div>

    <div class="img2">
        <mat-icon class="icon">person_add</mat-icon>
    </div>

    <div class="img3">
        <mat-icon class="icon">palette</mat-icon>
      
    </div>

    <div class="img4">
        <mat-icon class="icon">photo</mat-icon>
    </div>

    <div class="img5" (click)="onclick()" >
        <mat-icon class="icon">archive</mat-icon>
    </div>

    <div class="img6">
        <mat-icon class="icon">more_vert</mat-icon>
    </div>
</div>