<div class="container">
    <form #userId="ngForm" (ngSubmit)="onClickSubmit(userId.value)">
    <div class="form-content" >
        <div fxLayout="column" fxLayoutAlign="start">
            <div class="img1">
                <img mat-card-image src="../../../assets/google.jpg" width="80" alt="Google Image" class="logo">
            </div>

            <div>
                <h1 style="font-size: 24px;">Find your email</h1>
            </div>
            <div>
                <label>Enter your phone number or recovery email</label>
            </div>

            <mat-form-field appearance="outline" style="margin-top: 10%;">
                <mat-label>Phone number or email</mat-label>
                <input matInput type="text" placeholder="Enter Email Id" name="email" ngModel>
                <!-- <span ng-show="myForm.email.$error.required">Email is required.</span> -->
            </mat-form-field>

            <div>
                <button mat-button class="btn4" type="submit"  value="submit">Next</button>
            </div>
        </div>
    </div>
    </form>
</div>